/*酒杯跳轉鈕樣式*/
.gobletdiv {
    position: absolute;
    position: absolute;
    left: 85%;
    top: -45%;
}

.goblet01 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;
}

.goblet02 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet03 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet04 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet05 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet06 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet07 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet08 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet09 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet10 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet11 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}

.goblet12 {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: transparent;
    transform: translateY(100%) rotate(-25.83deg);
    opacity: 88%;
    display: none;

}